*{
    margin: 0;
    padding: 0;
    outline: 0;
}



.one{
    width: 500px;
    height: 300px;
    background: green;
    position: relative;
}

.two{
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    right: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(50%, 50%);
}


.three{
    width: 800px;
    height: 500px;
    position: relative;
}


.four{
    width: 100px;
    height: 100px;
    background: yellow;
    position: absolute;
    left: 100px;
    top: 20px;
}

.five{
    width: 100px;
    height: 100px;
    background: #42e0e6;
    position: absolute;
    left: 110px;
    top: 30px;
    z-index: -2;
}

.six{
    width: 100px;
    height: 100px;
    background: #7a324a;
    position: absolute;
    left: 120px;
    top: 40px;
    z-index: -1;
}