* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}


a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/* Common css end */

/* Header part start */
#header_part {
    height: 32px;
    background: #0872b9;
}

.header_text {
    width: 50%;
    float: left;
}

.header_social {
    width: 50%;
    float: left;
}

.header_text p {
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}

.header_social {
    text-align: right;
}

.header_social a {
    color: #e7e7e7;
    font-size: 14px;
    margin-left: 24px;
    line-height: 32px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.header_social a:hover{
    color: #353535;
}

/* Header part end */

/* Menu part start */
.logo {
    width: 15%;
    float: left;
    padding: 20px 0;
}

.main_menu {
    width: 85%;
    float: left;
    padding: 20px 0;
}


.main_menu ul {
    float: right;
}

.main_menu ul li {
    float: left;
}


.main_menu ul li a {
    line-height: 40px;
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: Myriad Pro;
    margin-left: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li a:hover {
    color: #0872b9;
}

/* Menu part end */

/* Banner part start */
#banner_part{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 78px 0 88px;
    position: relative;
    z-index: 1;
}

#banner_part::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_text{
    width: 450px;
    float: right;
    text-align: right;
}

.banner_text h2{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.banner_text h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.banner_text p{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.banner_text a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-left: 20px;
    margin-top: 25px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_text a:hover{
    background: #0872b9;
    border-color: #0872b9;
}

/* Banner part end */

/* About part start */
#about_part{
    padding: 60px 0;
    text-align: center;
}

.about_head{
    position: relative;
    display: inline-block;
}

.about_head img{
    position: absolute;
    left: 0;
    bottom: 0;
}

.about_head h2{
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.about_row .about_img{
    width: 390px;
    float: left;
}

.about_row .about_text{
    width: 570px;
    float: left;
}

.about_img img{
    width: 100%;
    max-width: 100%;
}

.about_text p{
    color: #555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-top: 35px;
    text-align: left;
    padding-left: 20px;
}

.about_text p span{
    padding-top: 23px;
    display: inline-block;
}

.about_row{
    padding-top: 40px;
}
/* About part end */

/* Service part start */
#service_part{
    text-align: center;
    padding-bottom: 60px;
}

.service_col {
	width: 31.94%;
	float: left;
	margin-right: 20px;
	background: #f1f1f1;
	padding: 50px 21px 21px 21px;
	position: relative;
}

.service_col h4{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.service_col p{
    color: #555555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.service_icon {
	width: 70px;
	height: 70px;
	background: #f1f1f1;
	line-height: 69px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	left: 50%;
	top: -36px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.service_icon::after {
	position: absolute;
	content: '';
	left: -3px;
	top: -3px;
	width: 70px;
	height: 70px;
	border: 1px solid #f1f1f1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.service_icon::before {
	position: absolute;
	content: '';
	left: -7px;
	top: -7px;
	width: 72px;
	height: 72px;
	border: 4px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.service_row{
    padding-top: 68px;
}

.service_row .service_col:nth-child(3){
    margin-right: 0;
}
/* Service part end */

/* Header part start */
/* Header part end */

/* Header part start */
/* Header part end */

/* Header part start */
/* Header part end */