.a1{
    width: 600px;
    height: 400px;
    background: #00ff2a;
    margin: 0 auto;
}
.a2{
    width: 600px;
    height: 200px;
    background: #a9a9a9;
}
.a4{
    width: 600px;
    height: 100px;
    background: #483d8b;
}
.a8{
    width: 100px;
    height: 100px;
    background: #800000;
    float: left;

}
.a9{
    width: 100px;
    height: 100px;
    background: #72970a;
    float: left;
}
.a10{
    width: 100px;
    height: 100px;
    background: #19240e;
    float: left;
}
.a11{
    width: 100px;
    height: 100px;
    background: #80003c;
    float: left;
}
.a12{
    width: 100px;
    height: 100px;
    background: #800000;
    float: left;
}
.a13{
    width: 100px;
    height: 100px;
    background: #00806b;
    float: left;
}
.a5{
    width: 600px;
    height: 100px;
    background: #00bfff;
}
.a14{
    width: 100px;
    height: 100px;
    background: #b96161;
    float: left;
}
.a15{
    width: 100px;
    height: 100px;
    background: #574646;
    float: left;
}
.a16{
    width: 100px;
    height: 100px;
    background: #302e2e;
    float: left;
}
.a17{
    width: 100px;
    height: 100px;
    background: #ec5d5d;
    float: left;
}
.a18{
    width: 100px;
    height: 100px;
    background: #cac4c4;
    float: left;
}
.a19{
    width: 100px;
    height: 100px;
    background: #4ece4e;
    float: left;
}
.a3{
    width: 600px;
    height: 200px;
    background: #4d0064;
}
.a6{
    width: 600px;
    height: 100px;
    background: #ff00ff;
}
.a20{
    width: 100px;
    height: 100px;
    background: #4ebfce;
    float: left;
}
.a21{
    width: 100px;
    height: 100px;
    background: #4ea6ce;
    float: left;
}
.a22{
    width: 100px;
    height: 100px;
    background: #4e9fce;
    float: left;
}
.a23{
    width: 100px;
    height: 100px;
    background: #1b24a5;
    float: left;
}
.a24{
    width: 100px;
    height: 100px;
    background: #7032aa;
    float: left;
}
.a25{
    width: 100px;
    height: 100px;
    background: #962396;
    float: left;
}
.a7{
    width: 600px;
    height: 100px;
    background: #cf0c77;
}
.a26{
    width: 100px;
    height: 100px;
    background: #a81919;
    float: left;
}
.a27{
    width: 100px;
    height: 100px;
    background: #54816b;
    float: left;
}
.a28{
    width: 100px;
    height: 100px;
    background: #a78aa7;
    float: left;
}
.a29{
    width: 100px;
    height: 100px;
    background: #08631e;
    float: left;
}
.a30{
    width: 100px;
    height: 100px;
    background: #249094;
    float: left;
}
.a31{
    width: 100px;
    height: 100px;
    background: #4b0914;
    float: left;
}